body{
    background-color: rgb(9, 9, 9);
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color:  rgb(9, 9, 9);
}
::-webkit-scrollbar-thumb{
    background-color: #9a9898;
    border-radius: 10px;
}

header{
    margin: 1.5%;
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

nav a {
     margin: 20px;
     font-size: 20px;
     cursor: pointer;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    color: rgb(150, 148, 148);
}

.button{
    background-color: orangered;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    height: 30px;
    width: 78px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: blink 1s infinite;
    border: 3px solid aqua;
}

@keyframes blink {
    0% {border-color: aqua;}
    50% {border-color: transparent;}
    100% {border-color: aqua;}   
}

.button1{
    background-color: orangered;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    height: 33px;
    width: 83px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;
    border: 3px solid aqua;
    animation: blink 1s infinite;
}

.button2{
    margin-left: 15px;
    color: rgb(150, 148, 148);
    border-radius: 6px;
    font-size: 15px;
    height: 34px;
    width: 135px;
    cursor: pointer; 
    background: none;
    border-color: 2px solid rgb(150, 148, 148);
    border: 2px solid;
    
}

.div1{
    margin: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.div1a{
    margin-left: 20px;
    width: 850px;
}
.div1a1{
    border-radius: 6px;
    height: 90px;
    width: 420px;
    background-color: rgb(30, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;   
}

.div1b{
    margin-top: 6.5%;
    background-color: rgb(30, 30, 30);
    border-radius: 50%;
    height: 340px;
    width: 340px;
    position: relative;
}

#counter1{
    font-weight: 600;
}

#counter2{
    font-weight: 600;
}

#counter3{
    font-weight: 600;
}

.icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.div2{
    margin: 8%;
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div2a{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
    justify-content: center;
    justify-content: space-around;
}
.div2a div{
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    height: 270px;
    width: 280px;
    transition: 1s all ease;
}
.div2a div:hover{
    transform: scale(1.1);
}

.work{
    color: orangered;
    font-size: 45px;
    font-weight: 700;
}

.div3{
    margin: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 520px;
}

.div3a{
    display: flex;
    justify-content: space-around;
}

.div3a1{
    margin-top: 2%;
    width: 380px;
    height: 400px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(30, 30, 30);
    transition: 1s all ease;
}

.div3a1:hover{
    transform: scale(1.05);
}

.div3a2{
    margin-top: 3%;
    height: 400px;
    width: 500px;
    font-size: 20px;
    position: relative;
    color: rgb(150, 148, 148);
}

.button3{
    margin-left: 15px;
    color: rgb(150, 148, 148);
    border-radius: 6px;
    font-size: 15px;
    height: 34px;
    width: 135px;
    cursor: pointer; 
    background-color: orangered;
    border-color: 2px solid rgb(150, 148, 148);
    border: 2px solid;
    
}

.div4{
    margin: 8%;
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div4a{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 25px;
    justify-content: center;
    justify-content: space-around;
}
.div4a div{
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    height: 270px;
    width: 280px;
    transition: 1s all ease;
    cursor: pointer;
}
.div4a div:hover{
    transform: scale(1.1);
}

.div5{
    margin: 8%;
}

.div5a{   
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
}

.div5a1{
    margin-top: 1%;
    width: 550px;
}

.div5a1a{
    border-radius: 6px;
    height: 90px;
    width: 420px;
    background-color: rgb(30, 30, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
}

.div5a1a div{
    margin: 15px;
}

.div5a2{
    margin-top: 6.5%;
    background-color: rgb(30, 30, 30);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: relative;
}

.div6{
    margin: 8%;
    height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div6a{
     margin-top: 50px;
     margin-left: 150px;
}

table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    gap: 20px;
  }
  
  tr {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  td {
    background-color: rgb(30, 30, 30);
    width: 450px;
    border-radius: 10px;
    border: 1px solid #444;
    display: flex;
    align-items: flex-start;
  }
  
  #cinput {
    margin: 1%;
    background: rgb(30, 30, 30);
    border: none;
    border-radius: 10px;
    color: rgb(150, 148, 148);
    height: 40px;
    width: 97%;
    font-size: 18px;
  }

  #service-interest {
    margin: 1%;
    background: rgb(30, 30, 30);
    border: none;
    border-radius: 10px;
    color: rgb(150, 148, 148);
    height: 40px;
    width: 97%;
    font-size: 18px;
    padding: 0 10px;
  }
  
  #description {
    margin: 1%;
    background: rgb(30, 30, 30);
    border: none;
    border-radius: 10px;
    color: rgb(150, 148, 148);
    font-size: 18px;
    width: 97%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: vertical;
  }
  

#sendButton{
    color: rgb(150, 148, 148);
    border-radius: 6px;
    font-size: 15px;
    height: 34px;
    width: 100px;
    cursor: pointer; 
    background: none;
    border-color: 2px solid rgb(150, 148, 148);
    border: 2px solid;
}

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    color: rgb(150, 148, 148);
    background-color: rgb(30, 30, 30);  
    margin-bottom: 30px;
}
